*{
    background-image: url(/assts/sad-2635043_1920.jpg);
    
}

.title{

 justify-content: center;
 color: yellow;
 position: absolute;
 justify-items: center;
font-size: 3rem;
border: rgb(37, 34, 31);


}



p{
    position: relative;
    font-size: 1.3rem;
    color: yellow;
}